.cabecera{
    width: 100%;
    height: 350px;
    background-image: url("../img/newscab.jpg");
}
.cuerpo{
    width: 75%;
    height: 100%;
    padding:2%;
}
.f{
    background-color:black;
    color:white;
    padding:0.5vw;
    width: 6vw;
    border-bottom:5px solid black;
    text-align: center;
    margin-right: 100%;
}
.linea{
    border-top:3px solid black;
    width: 66%;
    margin-right:100% ;
    
}
.mj{
    width: 66%;
    height: 100px;
    background-image: url("../img/maryjane.JPG");
    margin-right:100%;
    background-repeat: no-repeat;
    font-size: 50px;
    color: white;
}
.miles{
    width: 64%;
    height: 100px;
    background-image: url("../img/milesmorales.JPG");
    margin-right:100%;
    background-repeat: no-repeat;
    font-size: 50px;
    color: white;
}
.seda{
    width: 64%;
    height: 100px;
    background-image: url("../img/seda.JPG");
    margin-right:100%;
    background-repeat: no-repeat;
    font-size: 50px;
    color: white;
}

.felicia{
    width: 64%;
    height: 100px;
    background-image: url("../img/felicia.JPG");
    margin-right:100%;
    background-repeat: no-repeat;
    font-size: 50px;
    color: white;
}
.jameson{
    width: 68%;
    height: 100px;
    background-image: url("../img/jameson.JPG");
    margin-right:100%;
    background-repeat: no-repeat;
    font-size: 50px;
    color: white;
}
.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: justify;
    outline: none;
    font-size: 15px;
    float: left;
    margin-right:100 ;
}
.collapsible>p{
    width: 30%;
}
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size:20px;
}
@media only screen and (max-width: 740px) {
    .nav{
        width: 100%;
        background-color: BLACK;
        overflow:hidden;
        position:fixed;
        top:0;
    }

    .cabecera{
        display:none;
    }
    .contenido{
        width:100%;
    }

  }