*{
    margin:0 auto;
    padding:0;
    font-family: fjallaOne;
}
.top{
    width: 100%;
    height:60px;
    background-color:red;
}
.top>p{
    color:white;
    text-align: center;
    padding:6px;
    font-size:37px;
}
.top:hover>p{
    color:white;
    text-align: center;
    padding:6px;
    font-size:37px;
}
.nav{
    width: 100%;
    background-color: BLACK;
    overflow:auto;
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.nav :hover{
    color:red;
    
}
.nav li{
    padding-top:8px;
    padding-bottom:8px;
    float: left;
    list-style:none;
    width: 25%;
    text-align: center;
}
/*.subchara{
    max-height: 0;
    background-color:white;
    width: 100%;
    overflow: hidden;
    position: absolute;
    float:left;
    left:0%;
    margin-top:8px;
    -webkit-transition: max-height 0.2s ease-in;
    transition: max-height 0.5s ease-in-out;
}
.char:hover .subchara{
    max-height: 700px;
    background-color:white;
}

.subchara>h1{
    color:black;
    margin-top:40px;
    font-size:40px;
}
.subchara>h1:hover{
    color:black;
}
.sublec>h1{
    color:black;
    margin-top:40px;
    font-size:40px;
}
.c1>a:hover{
    color:black;
}
.c2>a:hover{
    color:black;
}
.c3>a:hover{
    color:black;
}
.c4>a:hover{
    color:black;
}
.c5>a:hover{
    color:black;
}
.c6>a:hover{
    color:black;
}
.c7>a:hover{
    color:black;
}
.c8>a:hover{
    color:black;
}
.sublec>h1:hover{
    color:black;
}
.sublec{
     max-height: 0;
    background-color:white;
    width: 100%;
    overflow: hidden;
    position: absolute;
    float:left;
    left:0%;
    margin-top:8px;
    -webkit-transition: max-height 0.2s ease-in;
    transition: max-height 0.5s ease-in-out;
}
.lec:hover .sublec{
    max-height: 700px;
    background-color:white;

}
.c1{
    width: 150px;
    height: 200px;
    display: inline-block;
    text-align: center;

}
.c1>a{
    color:black;
    bottom: 0;
    font-size:15px;
}
.c2>a{
    color:black;
    bottom: 0;
    font-size:15px;
}
.c3>a{
    color:black;
    bottom: 0;
    font-size:15px;
}
.c4>a{
    color:black;
    bottom: 0;
    font-size:15px;
}
.c5>a{
    color:black;
    bottom: 0;
    font-size:15px;
}
.c6>a{
    color:black;
    bottom: 0;
    font-size:15px;
}
.c7>a{
    color:black;
    bottom: 0;
    font-size:15px;
}
.c8>a{
    color:black;
    bottom: 0;
    font-size:15px;
}
.c2{
    width: 150px;
    height: 200px;
    margin:20px;
    display: inline-block;
    text-align: center;

}
.c3{
    width: 150px;
    height: 200px;
    margin: 20px;
    display: inline-block;
    text-align: center;

}
.c4{
    width: 150px;
    height: 200px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}
.c5{
    width: 150px;
    height: 200px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}
.c6{
    width: 150px;
    height: 200px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}
.c7{
    width: 150px;
    height: 200px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}
.c8{
    width: 150px;
    height: 250px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}
*/
@media only screen and (max-width: 770px) {
    .nav{
        width: 100%;
        background-color: BLACK;
        overflow:hidden;
        position:fixed;
        top:0;
    }
    .top>p{
        font-size:6.5vw;
    }
  
  }
  @media only screen and (max-width:400px){
    .nav a{
        color: white;
        text-decoration: none;
        font-size: 5vw;
        text-align: center;
    }
  }