
*{
    margin:0 auto;
}
.cuerpo{
    width: 75%;
    height: 100%;
    padding:2%;
    text-align: justify;
    font-size:20px;
}

.caceria{
    text-align: center;
    border-bottom: solid 2px red;
}